<div class="container">
  <div class="text-area-container">
    <div class="input">
      <div class="input-header">
        <div>Input</div>
        <div class="buttons">
          <button nz-button nzType="primary" (click)="onPaste()">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
            Paste
          </button>
        </div>
      </div>
      <textarea
        *ngIf="state === State.START"
        [(ngModel)]="inputText"
        class="code-area"
        nz-input
        placeholder="PL Code..."
      ></textarea>
      <div
        *ngIf="state !== State.START"
        [style.overflow]="(state === State.SCAN_DONE || state === State.PARSE_DONE) ? 'auto' : 'hidden'"
        class="compile-simulation"
        id="compile-simulation-container"
      >
        <ng-container *ngFor="let simulationContent of simulationContents">
          <ng-container [ngSwitch]="simulationContent.type">
            <pre *ngSwitchCase="SimulationContentType.NORMAL" class="normal">{{ simulationContent.content }}</pre>
            <pre *ngSwitchCase="SimulationContentType.ABSENCE" class="absence">{{ simulationContent.content }}</pre>
            <pre *ngSwitchCase="SimulationContentType.EXCESS" class="excess">{{ simulationContent.content }}</pre>
            <pre *ngSwitchCase="SimulationContentType.OPEN" class="open">{{ simulationContent.content }}</pre>
            <pre *ngSwitchCase="SimulationContentType.OTHER">{{ simulationContent.content }}</pre>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="control">
      <div class="action">
        <button
          [nzLoading]="state === State.SCANNER_PROCESSING || state === State.PARSER_PROCESSING"
          [disabled]="state === State.PARSE_DONE"
          (click)="onControlButtonClicked()"
          class="action-button"
          nzSize="large"
          nzType="primary"
          nz-button
          nzBlock
        >
          <span *ngIf="state === State.START" nz-icon nzType="caret-right" nzTheme="outline"></span>
          <span *ngIf="state === State.SCAN_DONE || state === State.PARSE_DONE" nz-icon nzType="check" nzTheme="outline"></span>
          {{ getButtonText() }}
        </button>
        <nz-input-group nzSuffix="ms">
          <input [(ngModel)]="delay" nz-input placeholder="Step Delay" type="number"/>
        </nz-input-group>
      </div>
      <div class="console">
        <div class="console-header">
          <div>Console</div>
          <nz-switch nzSize="small" [(ngModel)]="isLoggingEnabled"></nz-switch>
        </div>
        <div
          [style.overflow]="(state === State.SCAN_DONE || state === State.PARSE_DONE) ? 'auto' : 'hidden'"
          class="console-body"
          id="console"
        >
          <div
            *ngFor="let log of ((state === State.SCAN_DONE || state === State.PARSE_DONE) ? logs : visibleLogs)"
            [class]="log.status == Status.FAIL ? 'fail' : (log.status == Status.SUCCESS ? 'success' : 'info')"
          >
            {{ log.value }}
          </div>
        </div>
      </div>
    </div>
    <div class="output">
      <div class="output-header">
        <div>Output</div>
        <div class="buttons">
          <button nz-button nzType="primary" (click)="onCopy()">
            <span nz-icon nzType="copy" nzTheme="outline"></span>
            Copy
          </button>
        </div>
      </div>
      <textarea
        [value]="(state === State.SCAN_DONE || state === State.PARSE_DONE) ? outputText : optimizedOutputText"
        [style.overflow]="(state === State.SCAN_DONE || state === State.PARSE_DONE) ? 'auto' : 'hidden'"
        class="code-area"
        placeholder="Output..."
        id="output"
        nz-input
        readonly
      ></textarea>
    </div>
  </div>
</div>

